/* =================================
  Photo Overlay Transition
==================================== */

.photo-overlay {
	opacity: 0;
	transition-property: opacity;
	transition-duration: .5s;
}
.photo-overlay:hover {
	opacity: 1;
}

/* =================================
  Button Transitions
==================================== */

.button {
	opacity: 0;
	transition-property: opacity, background, box-shadow;
	transition-duration: .5s;
	transition-delay: .2s, .3s, 0s;
}

.button:hover {
	background: rgba(74, 137, 202, 1);
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .7);
}

.photo-overlay:hover .button {
	opacity: 1;
}

.btn-icon {
	transition-property: opacity, left;
	transition-duration: .5s;
	transition-delay: .3s;
	transition-timing-function: ease-in-out, ease-out;
}

.button:hover .btn-icon {
	opacity: 1;
	left: 80%;
}
